<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DaphneGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DaphneGui.Properties.Settings.MsiConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Databases\Msi.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DaphneGui.Properties.Settings>
      <setting name="lastOpenScenario" serializeAs="String">
        <value />
      </setting>
      <setting name="autoZoomFit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="skipDataBaseWrites" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="runStatisticalSummary" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="suggestExpNameChange" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="writeCellsummaries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bufferDataBaseWriting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dataBaseBufferMaxRows" serializeAs="String">
        <value>1000000000</value>
      </setting>
      <setting name="dataBaseBufferMinRows" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="changesCounter" serializeAs="String">
        <value>0</value>
      </setting>
    </DaphneGui.Properties.Settings>
  </userSettings>
</configuration>