<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40-Client" />
  <package id="Ninject" version="3.0.2-unstable-9" targetFramework="net40-Client" />
  <package id="Ninject.Extensions.Factory" version="3.0.2-unstable-6" targetFramework="net40-Client" />
</packages>